.popup__response_image_error {
    background-image: url(./../../../../../images/error.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    margin: 60px auto 40px;
}