.element__remove {
    background-image: url(../../../images/del-icon.svg);
    background-position: center;
    background-size: 19px 19px;
    background-color: transparent;
    width: 19px;
    height: 19px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.2s linear;
}

.element__remove:hover {
    opacity: 0.6;
}
