.registration__input_password {
    width: 358px;
    background-color: initial;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0 0 13px;
    margin-top: 30px;
    color: #ccc;
    outline: none;
}