@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile-info/profile-info.css);
@import url(./blocks/profile-info/__author/profile-info__author.css);
@import url(./blocks/profile-info/__description/profile-info__description.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__photo/element__photo.css);
@import url(./blocks/element/__remove/element__remove.css);
@import url(./blocks/element/__remove-disabled/element__remove-disabled.css);
@import url(./blocks/element/__reaction-wrapper/element__reaction-wrapper.css);
@import url(./blocks/element/__counter/element__counter.css);
@import url(./blocks/element/__reaction/element__reaction.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__form-info/popup__form-info.css);
@import url(./blocks/popup/__form-add/popup__form-add.css);
@import url(./blocks/popup/__form-avatar/popup__form-avatar.css);
@import url(./blocks/popup/__form-delete/popup__form-delete.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-container/popup__input-container.css);
@import url(./blocks/popup/__input/_invalid/popup__input_invalid.css);
@import url(./blocks/popup/__inputs/popup__inputs.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__button-delete/popup__button-delete.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/_type/_image/popup_type_image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__close/_place/_image-container/popup__close_place_image-container.css);

.header__logOut {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.21;
    margin-top: 6px;
    text-decoration: none;
}

.header__link {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.21;
    margin-top: 6px;
    text-decoration: none;
}

.header__link:hover {
    opacity: .8;
}

.header__links {
    display: flex;
}


.header__email {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.21;
    margin-top: 6px;
    padding-right: 24px;
    text-decoration: none;
}

.registration {
    background-color: transparent;
    max-width: 358px;
    margin: 0 auto;
    padding-top: 60px;
}

.registration__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21;
    margin: 0 0 50px;
    min-height: 28px;
    text-align: center;
}

.registration__form {
    display: flex;
    flex-direction: column;
} 

.registration__input__email {
    width: 358px;
    background-color: initial;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0 0 13px;
    color: #ccc;
    outline: none;
}

.registration__input__password {
    width: 358px;
    background-color: initial;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0 0 13px;
    margin-top: 30px;
    color: #ccc;
    outline: none;
}

.registration__submit {
    margin-top: 216px;
    width: 358px;
    height: 50px;
    font-size: 18px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.registration__submit:hover {
    opacity: .7;
}

.registration__subtitle {
    margin: 15px 0 0;
    text-align: center;
    font-size: 14px;
}

.registration__subtitle-link {
    text-decoration: none;
    color: #FFFFFF;
}

.login {
    background-color: transparent;
    max-width: 358px;
    margin: 0 auto;
    padding-top: 60px;
}

.login__title {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.21;
    margin: 0 0 50px;
    min-height: 28px;
    text-align: center;
}

.login__form {
    display: flex;
    flex-direction: column;
} 

.login__input__email {
    width: 358px;
    background-color: initial;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0 0 13px;
    color: #ccc;
    outline: none;
}

.login__input__password {
    width: 358px;
    background-color: initial;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 0 0 13px;
    margin-top: 30px;
    color: #ccc;
    outline: none;
}

.login__submit {
    margin-top: 216px;
    width: 358px;
    height: 50px;
    font-size: 18px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.login__submit:hover {
    opacity: .7;
}

.login__subtitle {
    margin: 15px 0 0;
    text-align: center;
    font-size: 14px;
}

.login__subtitle-link {
    text-decoration: none;
    color: #FFFFFF;
}

.popup__response_success {
    background-color: #FFFFFF;
    position: relative;
    width: 430px;
    height: 330px;
    border-radius: 10px;
}

.popup__response_image_success {
    background-image: url(./images/succesfull.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    margin: 60px auto 40px;
}

.popup__response_title {
    color: black;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    width: 358px;
    height: 58px;
    margin: auto;
}

.popup__response_error {
    background-color: #FFFFFF;
    position: relative;
    width: 430px;
    height: 330px;
    border-radius: 10px;
}

.popup__response_image_error {
    background-image: url(./images/error.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    margin: 60px auto 40px;
}