.header {
    width: 320px;
    padding: 28px 0 28px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    /* flex-shrink: 0; */
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .header {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .header {
        width: 880px;
        padding: 45px 0 37px;
    }
}